/*Home-page style*/
body {
    
    background-color : #d1cfcf;
    
}

h1 {
    color: #0C6140;
    margin-left: 150px;
    font-family: 'Arvo', serif;
    font-size: xx-large;
        font-weight: 100;
    position: relative;
    margin-top: 30%;
    letter-spacing: 8px;

} 
    h3{
    color: #143269;
    margin-left: 20px;
    font-family: 'Abel', sans-serif;
    font-size: x-large;
    font-weight: 400;
    position: relative;
    margin-top: 1%;
    letter-spacing: 7px;
    }

    h4{
    color: #143269;
    margin-left: 20px;
    font-family: 'Abel', sans-serif;
    font-size: small;
    font-weight: 300;
    position: relative;
    margin-top: 6%;
    letter-spacing: 4px;
    }
    p {
         color: #143269;
         font-size: 1em;
     }
     
